{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>

<form name="input" action="/searchauthorpub" method="GET">
    Start year: <input type="number" name="start_year" min="{{ args.min_year }}" max="{{ args.max_year }}" value="{{ args.start_year }}">
    End year: <input type="number" name="end_year" min="{{ args.min_year }}" max="{{ args.max_year }}" value="{{ args.end_year }}">
    Name of author: <input type="search" placeholder="" name="author_name" id="content">
    <button type="submit">Search</button>
</form>

<br \>
<br \>

<h1>{{ args.pub_str }} in {{ args.start_year }} {% if args.start_year != args.end_year %} - {{ args.end_year }}{% endif %}</h1>

<table class="sortable">
  <thead>
    <tr>
    {% for column in args.data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
    <tr>
    {% for row in args.author_stats %}
      <tr>
        <td style="text-align:center;vertical-align:middle;">
            <a href="{{ url_for('post_author', authorname=row[0]) }}">{{ row[0] }}</a>
        </td>
        {% for data_item in row[1:] %}
        <td style="text-align:center;vertical-align:middle;">{{ data_item }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>

<script>
function validateForm(form){
  start_year = form["start_year"].value;
  end_year = form["end_year"].value;
  if (end_year < start_year){
    alert("Invalid date range");
    return false;
  }
  return true;
}
</script>
{% endblock %}